{% extends "player_log_header.html" %}

{% block logbody %}

<div class="panel panel-default" style="margin-top:20px;">
    <!-- Default panel contents -->
    <div class="panel-heading">Player Log</div>

    <!-- Table -->
    <table class="table table-striped">
        <thead>
            <tr class="success">
                <th>Player</th>
                <th>Server</th>
                <th>Login</th>
                <th>Logout</th>
                <th>Session length</th>
            </tr>
        </thead>

        <tbody>
            {% for session in sessions %}
                <tr>
                    <td>{{ session.player_name }}</td>
                    <td>{{ session.server_name }}</td>
                    <td>{{ (session.login - dif).strftime('%Y-%m-%d  %H:%M') }}</td>
                    {% if session.logout %}
                        <td>{{ (session.logout - dif).strftime('%Y-%m-%d  %H:%M') }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if session.session_length %}
                        {% if session.session_length / 60 >= 60 %}
                           <td>{{((session.session_length / 60) / 60)|int}} hrs {{((session.session_length / 60) % 60)|int}} min</td>
                        {% else %}
                            <td>{{(session.session_length / 60)|int}} min</td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}